main>.container {
    padding: 60px 15px 0;
}

main>.container-fluid {
    padding-top: 60px;
}

body {
    font-family: 'Raleway', sans-serif;
}

body > main {
    margin-top: 20px;
    margin-bottom: 60px;
}

nav {
    background: #000336;
}

.navLogo {
    width: 225px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


.minHeight {
    min-height: 80vh;
}

.carItems {
    margin-bottom: 150px;
}

.contactForm {
    font-family: sans-serif;
}
